.footer {
  width: 1200px;
  margin: 20px auto;
  display: flex;
}

.info p {
  line-height: 2.5;
}

.info {
  padding-top: 24px;
  margin-left: 60px;
}

.footer a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  padding-top: 40px;
  margin-left: 300px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  left: 0;
  top: 60px;
}
