.footer {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  padding: 0 20px;
}

.divider {
  height: 0.5px;
  background: #d9d9d9;
  max-width: 1200px;
  margin: 0 auto;
}

.info p {
  line-height: 2.5;
}

.info {
  flex-basis: 50%;
  margin-top: 20px;
  padding-left: 40px;
}

.footer a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  padding-top: 40px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  left: 0;
  top: 60px;
}

.tibame {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  font-size: 14px;
  text-align: center;
}
.tibame a {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .footer-logo img {
    max-width: 100%;
  }

  .back_to_top {
    right: 20px;
  }
}
