.weather-news-container,
.aboutus-container,
.cost-container,
.remind-bg {
  max-width: 1200px;
  margin: 70px auto;
  display: flex;
  padding: 0 20px;
}

video {
  max-width: 100%;
  height: auto;
}

.weather-container {
  display: flex;
  padding: 20px 40px;
  background-color: #faf8f5;
  border-radius: 4px;
  width: 420px;
}

.weather {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
}

.weather p {
  margin-top: 20px;
}

.temperature {
  padding-top: 16px;
}

.tempertaure-title {
  font-weight: bold;
  margin-top: 16px;
}

.tempertaure-content {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.8;
}

.news-container {
  padding: 16px;
  margin-left: 40px;
  width: 70%;
}
.news-container p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aboutus-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  padding: 8px;
}

.aboutus-content {
  padding: 8px;
  line-height: 1.5;
}

.aboutus-card-right {
  padding-left: 20px;
}

.aboutus-card-left img {
  max-width: 100%;
}

.card {
  margin-right: 20px;
  width: 100%;
}

.card-top-container {
  display: flex;
}

.card-bottom-container {
  display: flex;
  margin-top: 30px;
}

.cost-container img {
  max-width: 100%;
}
.cost-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.8;
}

.cost-content {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  padding-top: 16px;
}

.money {
  margin: 40px 0 0 40px;
  line-height: 1.8;
}
.remind-bg {
  background-image: url(../img/index/bg.png);
  height: 447px;
  position: relative;
}

.remind-content {
  background-color: white;
  position: absolute;
  top: 150px;
  left: 0;
  border-radius: 0 20px 0 0;
  padding: 40px 125px;
}

@media screen and (max-width: 992px) {
  .card img {
    max-width: 100%;
  }

  .cost-title {
    font-size: 24px;
  }

  .cost-content {
    font-size: 16px;
  }

  .money {
    margin-top: 16px;
  }
}

/* 為RWD新增的樣式 */
.rwd-weather {
  margin-top: 40px;
  display: none;
  justify-content: center;
}

.rwd-weather img {
  width: 40px;
}

.rwd-weather p {
  line-height: 40px;
  margin: 0 8px;
}

@media screen and (max-width: 768px) {
  .weather-container {
    display: none;
  }

  .news-container {
    width: 100%;
    margin: 0;
  }

  .news-container p {
    font-size: 16px;
  }

  .rwd-weather {
    display: flex;
  }

  .weather-news-container {
    margin: 0px;
  }

  .aboutus-container,
  .cost-container {
    display: block;
  }
  .aboutus-container {
    margin-top: 40px;
  }
  .aboutus-card-left {
    padding: 0 20px;
    margin-bottom: 40px;
  }

  .remind-content {
    position: static;
    padding: 80px 40px;
    border-radius: 0;
  }
}

@media screen and (max-width: 414px) {
  .aboutus-title {
    font-size: 16px;
    padding: 0;
  }

  .aboutus-content {
    font-size: 14px;
    padding: 0;
  }
  .rwd-weather {
    display: none;
  }
  .card-top-container,
  .card-bottom-container {
    display: block;
  }

  .card {
    margin-bottom: 40px;
  }

  .card img {
    width: 94%;
  }

  .remind-content {
    padding-top: 20px;
  }
}
