.nav-list > li:nth-child(6) > a {
  background-color: #8ad8dc;
  padding: 0 8px;
}
.rwd-pagename {
  text-align: center;
  max-width: 1200px;
  margin-top: 20px;
  font-weight: bold;
  display: none;
}
.top-container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  width: auto;
  margin: 0;
}

.product-container {
  display: flex;
  margin-top: 48px;
  margin-left: 40px;
  position: relative;
}

.shopping-cart {
  display: block;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 0;
}

.product-info-container {
  margin-top: 140px;
  padding-right: 40px;
  width: 50%;
}

.breadcrumbs {
  font-size: 14px;
  margin-bottom: 16px;
}

.ml {
  color: gray;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8;
  padding: 8px 0;
}

.product-text {
  line-height: 1.5;
  padding: 8px 0;
}

.product-subtitle {
  font-weight: bold;
  padding-top: 20px;
}

/* 數量區 */
.count-container {
  display: flex;
  border-bottom: 1px solid #8ad8dc;
  width: 90%;
  align-items: center;
  margin: 40px 0;
}

.count-container p {
  line-height: 1.5;
  width: 60%;
}

.number {
  font-size: 24px;
  font-weight: bold;
  margin: 0 50px;
  line-height: 1.8;
}

.button-container {
  max-width: 100%;
}

button:first-child {
  outline: none;
  background-color: #54bcc5;
  color: white;
  font-size: 18px;
  padding: 14px 0;
  border: none;
  border-radius: 4px;
  margin-right: 20px;
  width: 42%;
}

button:last-child {
  outline: none;
  background-color: white;
  color: #54bcc5;
  font-size: 18px;
  padding: 13px 0;
  border: 1px solid #54bcc5;
  border-radius: 4px;
  width: 42%;
}

button:first-child:hover {
  background-color: #39b6c2;
}

button:last-child:hover {
  border: 1px solid #48a1ab;
  color: #48a1ab;
}

.product-img {
  padding-top: 120px;
  max-width: 100%;
}

/* 其他商品區 */

.other-product {
  margin: 100px auto 16px auto;
  max-width: 1200px;
  padding-left: 220px;
  font-size: 18px;
  font-weight: bold;
}
.bottom-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  padding: 0 16px 80px 220px;
}

.other-product-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
}

.card:first-child,
.card:nth-child(2) {
  margin-right: 20px;
}

.card > img {
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  nav {
    margin-top: 48px;
  }

  h1 {
    font-size: 24px;
  }

  .product-info-container {
    margin-top: 120px;
    width: 550px;
  }
  .rwd-pagename {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .bottom-container,
  .other-product {
    padding-left: 16px;
  }

  .product-container {
    margin-top: 20px;
  }
  .product-info-container {
    width: 500px;
  }
  .product-img {
    padding-top: 40px;
  }
  .product-info-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .product-container {
    display: block;
  }
  .product-info-container {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .bottom-container,
  .other-product {
    display: block;
    margin: 0 16px;
  }

  .other-product {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .card {
    margin-bottom: 24px;
  }
}
