.nav-list > li:nth-child(4) > a {
  background-color: #8ad8dc;
  padding: 0 8px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 100px;
}
.rwd-pagename {
  text-align: center;
  max-width: 1200px;
  margin-top: 20px;
  font-weight: bold;
  display: none;
}

.qa-title {
  background-color: #8ad8dc;
  height: 45px;
  border-radius: 4px;
  color: #3e3214;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  margin: 30px 0 10px 0;
}

.qa-title:hover {
  background-color: #abe6e9;
}

.item {
  padding: 0 16px;
}

.open-close {
  position: absolute;
  right: 16px;
}

.qa-content {
  padding: 16px 70px;
  line-height: 1.8;
  /* display: none; */
}

@media screen and (max-width: 768px) {
  .banner {
    margin: 0;
    padding: 0;
  }

  header {
    padding: 0;
  }
  .qa-content {
    padding: 16px;
  }
  .container {
    padding: 16px;
    margin-top: 20px;
  }
  .qa-title {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 50px;
    line-height: 1.6;
  }

  .item {
    display: none;
  }
  .rwd-pagename {
    display: block;
  }
}
